.user {
  font-family: Arial, Helvetica, sans-serif;
  width: 30%;
  box-shadow: 5px 5px 25px grey;
  margin: 20px;
  padding: 20px;
  text-align: center;
  img {
    border-radius: 50%;
  }
  .name {
    font-size: 26px;
    font-weight: bold;
  }
  .info {
    text-align: left;
    font-weight: bold;
    span {
      font-weight: normal;
      &.stroke {
        text-decoration: line-through;
      }
    }
  }
}
